## Hands-on - Matrices, DataFrames, and Time-Series Data

In [3]:
# Import necessary libraries
import pandas as pd  # pandas is used for handling tabular datasets (dataframes) and performing operations such as reading CSV files
import numpy as np  # numpy is used for numerical computations such as working with arrays and applying mathematical operations

# Load dataset from GitHub URL
file_path = "https://raw.githubusercontent.com/Hamed-Ahmadinia/DASP-2025/main/Bike%20Sales.csv"  # URL link to the dataset stored on GitHub

# Read the dataset into a pandas dataframe
df = pd.read_csv(file_path)  # Load the dataset as a pandas DataFrame

# Display the first few rows of the dataframe to confirm the data has been loaded correctly
print("Dataset Preview:")  # Print a label for context
print(df.head(5))  # Display the first 5 rows of the dataset

Dataset Preview:
         Date  Day     Month  Year  Customer_Age       Age_Group  \
0  2013-11-26   26  November  2013            19     Youth (<25)
1  2015-11-26   26  November  2015            19     Youth (<25)
2  2014-03-23   23     March  2014            49  Adults (35-64)
3  2016-03-23   23     March  2016            49  Adults (35-64)
4  2014-05-15   15       May  2014            47  Adults (35-64)

  Customer_Gender    Country             State Product_Category Sub_Category  \
0               M     Canada  British Columbia      Accessories   Bike Racks
1               M     Canada  British Columbia      Accessories   Bike Racks
2               M  Australia   New South Wales      Accessories   Bike Racks
3               M  Australia   New South Wales      Accessories   Bike Racks
4               F  Australia   New South Wales      Accessories   Bike Racks

               Product  Order_Quantity  Unit_Cost  Unit_Price  Profit  Cost  \
0  Hitch Rack - 4-Bike               8         45         120     590   360
1  Hitch Rack - 4-Bike               8         45         120     590   360
2  Hitch Rack - 4-Bike              23         45         120    1366  1035
3  Hitch Rack - 4-Bike              20         45         120    1188   900
4  Hitch Rack - 4-Bike               4         45         120     238   180

   Revenue
0      950
1      950
2     2401
3     2088
4      418

### **Exercise 1: Convert the "Date" column to datetime format**
**Question:** Convert the "Date" column to pandas datetime format.

In [2]:
# Your code here:
# Assuming your dataframe is called 'df'
# Convert the Date column to datetime format
df['Date'] = pd.to_datetime(df['Date'])
# Verify the conversion by checking the data type
print("Data type of Date column:", df['Date'].dtype)

Data type of Date column: datetime64[ns]

### **Exercise 2: Set the "Date" column as the index**
**Question:** Set the "Date" column as the index of the DataFrame.

In [3]:
# Your code here:
df = df.set_index(pd.to_datetime(df['Date']))
# Verify the index
print(df.index)
print("\nFirst few rows of the DataFrame:")
print(df.head())

DatetimeIndex(['2013-11-26', '2015-11-26', '2014-03-23', '2016-03-23',
               '2014-05-15', '2016-05-15', '2014-05-22', '2016-05-22',
               '2014-02-22', '2016-02-22',
               ...
               '2013-07-08', '2015-07-08', '2013-12-28', '2015-12-28',
               '2014-04-12', '2016-04-12', '2014-04-02', '2016-04-02',
               '2014-03-04', '2016-03-04'],
              dtype='datetime64[ns]', name='Date', length=113036, freq=None)

First few rows of the DataFrame:
                 Date  Day     Month  Year  Customer_Age       Age_Group  \
Date
2013-11-26 2013-11-26   26  November  2013            19     Youth (<25)
2015-11-26 2015-11-26   26  November  2015            19     Youth (<25)
2014-03-23 2014-03-23   23     March  2014            49  Adults (35-64)
2016-03-23 2016-03-23   23     March  2016            49  Adults (35-64)
2014-05-15 2014-05-15   15       May  2014            47  Adults (35-64)

           Customer_Gender    Country             State Product_Category  \
Date
2013-11-26               M     Canada  British Columbia      Accessories
2015-11-26               M     Canada  British Columbia      Accessories
2014-03-23               M  Australia   New South Wales      Accessories
2016-03-23               M  Australia   New South Wales      Accessories
2014-05-15               F  Australia   New South Wales      Accessories

           Sub_Category              Product  Order_Quantity  Unit_Cost  \
Date
2013-11-26   Bike Racks  Hitch Rack - 4-Bike               8         45
2015-11-26   Bike Racks  Hitch Rack - 4-Bike               8         45
2014-03-23   Bike Racks  Hitch Rack - 4-Bike              23         45
2016-03-23   Bike Racks  Hitch Rack - 4-Bike              20         45
2014-05-15   Bike Racks  Hitch Rack - 4-Bike               4         45

            Unit_Price  Profit  Cost  Revenue
Date
2013-11-26         120     590   360      950
2015-11-26         120     590   360      950
2014-03-23         120    1366  1035     2401
2016-03-23         120    1188   900     2088
2014-05-15         120     238   180      418

### **Exercise 3: Slice the data from '2013-01-01' to '2013-12-31'**
**Question:** Slice the DataFrame to show data for the year 2013.

In [6]:
# Your code here:# Method 1: Basic slicing using loc
df_2013 = df.loc['2013-01-01':'2013-12-31']

# Method 2: Alternative using query with datetime index
# df_2013 = df[df.index.year == 2013]

# Method 3: If Date is not index but a datetime column
# df_2013 = df[(df['Date'] >= '2013-01-01') & (df['Date'] <= '2013-12-31')]

# Verify the date range
print("Start date:", df_2013.index.min())
print("End date:", df_2013.index.max())
print("\nNumber of rows:", len(df_2013))
print("\nFirst few rows:")
print(df_2013.head())

Start date: 2013-01-01 00:00:00
End date: 2013-12-31 00:00:00

Number of rows: 24443

First few rows:
                 Date  Day      Month  Year  Customer_Age  \
Date
2013-11-26 2013-11-26   26   November  2013            19
2013-07-30 2013-07-30   30       July  2013            32
2013-07-15 2013-07-15   15       July  2013            34
2013-08-02 2013-08-02    2     August  2013            29
2013-09-02 2013-09-02    2  September  2013            29

                       Age_Group Customer_Gender    Country             State  \
Date
2013-11-26           Youth (<25)               M     Canada  British Columbia
2013-07-30  Young Adults (25-34)               F  Australia          Victoria
2013-07-15  Young Adults (25-34)               M  Australia          Victoria
2013-08-02  Young Adults (25-34)               M     Canada  British Columbia
2013-09-02  Young Adults (25-34)               M     Canada  British Columbia

           Product_Category Sub_Category              Product  Order_Quantity  \
Date
2013-11-26      Accessories   Bike Racks  Hitch Rack - 4-Bike               8
2013-07-30      Accessories   Bike Racks  Hitch Rack - 4-Bike               8
2013-07-15      Accessories   Bike Racks  Hitch Rack - 4-Bike               7
2013-08-02      Accessories   Bike Racks  Hitch Rack - 4-Bike               5
2013-09-02      Accessories   Bike Racks  Hitch Rack - 4-Bike               2

            Unit_Cost  Unit_Price  Profit  Cost  Revenue
Date
2013-11-26         45         120     590   360      950
2013-07-30         45         120     398   360      758
2013-07-15         45         120     349   315      664
2013-08-02         45         120     369   225      594
2013-09-02         45         120     148    90      238

### **Exercise 4: Calculate cumulative revenue**
**Question:** Add a new column 'Cumulative_Revenue' that shows the cumulative sum of the revenue.

In [7]:
# Your code here:
# Assuming your DataFrame is called 'df' and has a 'Revenue' column
# Method 1: Basic cumulative sum
df['Cumulative_Revenue'] = df['Revenue'].cumsum()

# Method 2: If you need cumulative sum by group (e.g., by date or category)
# df['Cumulative_Revenue'] = df.groupby('Category')['Revenue'].cumsum()

# Method 3: If you need cumulative sum by date
# df['Cumulative_Revenue'] = df.sort_values('Date')['Revenue'].cumsum()

# Display the first few rows to verify
print(df[['Revenue', 'Cumulative_Revenue']].head())

            Revenue  Cumulative_Revenue
Date
2013-11-26      950                 950
2015-11-26      950                1900
2014-03-23     2401                4301
2016-03-23     2088                6389
2014-05-15      418                6807

### **Exercise 5: Downsample to show monthly total revenue (Hint: Use resampling)**
**Question:** Resample the data to calculate total monthly revenue.

In [8]:
# Your code here:
# Ensure Date is the index and in datetime format
# If Date is not the index, uncomment the next line:
# df.set_index('Date', inplace=True)

# Basic monthly resampling
monthly_revenue = df['Revenue'].resample('M').sum()

# For more comprehensive statistics
monthly_stats = df.resample('M').agg({
    'Revenue': 'sum',
    'Revenue': 'mean',  # average revenue per month
    'Revenue': 'count'  # number of transactions
}).round(2)

# Optional: Reset index to make Date a column
monthly_revenue = monthly_revenue.reset_index()

# Display results
print("Monthly Revenue:")
print(monthly_revenue.head())

Monthly Revenue:
        Date  Revenue
0 2011-01-31   675193
1 2011-02-28   637598
2 2011-03-31   708517
3 2011-04-30   698782
4 2011-05-31   734537